/target/
bin/
Thumbs.db
.DS_Store
.project
.classpath
.springBeans
ivy*.xml
*.class
*.tmp
.settings/
.gradle/
.externalToolBuilders/
**/ivy*.xml
**/.gradle
**/.classpath
**/.project
**/.settings
**/.springBeans
**/.externalToolBuilders
**/classes
**/bin
**/target
**/MANIFEST.MF
/logs
.factorypath
/.apt_generated/
*.log
/data
*.iml
.idea/
*.log.gz
**/publish.properties
**/.flattened-pom.xml
*/.flattened-pom.xml
*.out